# Abaikan folder gambar spesifik yang ada di dalam TACO
raw_data/public_dataset/taco/TACO/data/

# Abaikan juga sampah bawaan Mac dan Jupyter Notebook di seluruh project
**/__MACOSX/
**/.ipynb_checkpoints/

# Abaikan export dataset lainnya jika ukurannya besar
roboflow_export/