# 1. Blokir folder gambar spesifik dari TACO
raw_data/public_dataset/taco/TACO/data/

# 2. Blokir folder dataset lokal (sungai_A, sungai_B, sungai_C) agar tidak membuat Git berat
raw_data/local_dataset/

# 3. Blokir folder export dari Roboflow karena isinya biasanya duplikat gambar
roboflow_export/

# 4. Abaikan file sampah dan cache Python/Jupyter di seluruh project
**/__MACOSX/
**/.ipynb_checkpoints/
**/__pycache__/